.git
.gitignore
.env
.env.*
!.env.example
**/bin
**/obj
artifacts
licenses
server-data
postgres-data
data-protection-keys
TestResults
keys/*-private.pem
!keys/license-primary-2026-public.pem
README.md
